In [ ]:
# importar bilbiotecas
import pandas as pd

In [10]:
#Variável contendo informação de arquivo a ser lido
source_path = 'C:\\Users\\marina.takayama1\\Documents\\AnaliseAvaliacaoLimpeza\\SOURCE\\PLANILHA AVALIAÇÃO GERAL - LOCAL SETE.xlsx'
print(source_path)

C:\Users\marina.takayama1\Documents\AnaliseAvaliacaoLimpeza\SOURCE\PLANILHA AVALIAÇÃO GERAL - LOCAL SETE.xlsx

In [33]:
print(type(source_path))
print(type(sheets_list))

<class 'str'>
<class 'list'>

In [48]:
#Variável contendo informação das sheets a serem lidas
sheets_list = ['JAN 21',   #pos 0  header 3
               'FEV 2021', #pos 1  header 2
               'MAR 2021', #pos 2  header 2
               'ABR 2021', #pos 3  header 2
               'MAI 2021', #pos 4  header 2
               'JUN 2021', #pos 5  header 2
               'JUL 2021', #pos 6  header 2
               'AGO 2021', #pos 7  header 2
               'SET 2021', #pos 8  header 2
               'OUT 2021', #pos 9  header 2
               'NOV 2021', #pos 10 header 2
               'DEZ 2021'] #pos 11 header 2

print(sheets_list)

['JAN 21', 'FEV 2021', 'MAR 2021', 'ABR 2021', 'MAI 2021', 'JUN 2021', 'JUL 2021', 'AGO 2021', 'SET 2021', 'OUT 2021', 'NOV 2021', 'DEZ 2021']

In [49]:
#Variável contendo informação dos heardes de cada sheet para capturar os dados da empresa
enterp_headers_list = [3,  #'JAN 21' pos 0  header 3
                       2, #'FEV 2021' pos 1  header 2
                       2, #'MAR 2021' pos 2  header 2
                       2, #'ABR 2021' pos 3  header 2
                       2, #'MAI 2021' pos 4  header 2
                       2, #'JUN 2021' pos 5  header 2
                       2, #'JUL 2021' pos 6  header 2
                       2, #'AGO 2021' pos 7  header 2
                       2, #'SET 2021' pos 8  header 2
                       2, #'OUT 2021' pos 9  header 2
                       2, #'NOV 2021' pos 10 header 2
                       2] #'DEZ 2021' pos 11 header 2

print(enterp_headers_list)

[3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [50]:
#Variável contendo informação dos heardes de cada sheet para capturar os dados das avaliações
data_headers_list = [  6,  #'JAN 21' pos 0  header 3
                       5, #'FEV 2021' pos 1  header 2
                       5, #'MAR 2021' pos 2  header 2
                       5, #'ABR 2021' pos 3  header 2
                       5, #'MAI 2021' pos 4  header 2
                       5, #'JUN 2021' pos 5  header 2
                       5, #'JUL 2021' pos 6  header 2
                       5, #'AGO 2021' pos 7  header 2
                       5, #'SET 2021' pos 8  header 2
                       5, #'OUT 2021' pos 9  header 2
                       5, #'NOV 2021' pos 10 header 2
                       5] #'DEZ 2021' pos 11 header 2

print(data_headers_list)

[6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [51]:
len (sheets_list)

12

In [52]:
for i in range(len(sheets_list)):
    print(sheets_list[i])

JAN 21
FEV 2021
MAR 2021
ABR 2021
MAI 2021
JUN 2021
JUL 2021
AGO 2021
SET 2021
OUT 2021
NOV 2021
DEZ 2021

In [57]:
#Ler dados de nome da empresa
i = 0
file_name = source_path 
sheet_name = sheets_list[i] 
header = enterp_headers_list[i] 

df = pd.read_excel(source_path, sheet_name=sheet_name, header=header)

enterprise_name = df.loc[0, 'Unnamed: 0']

x = enterprise_name.index('-')
enterprise_name = enterprise_name[0:x-1]
enterprise_name

'LOCAL SETE'

In [54]:
#Ler dados das avaliações
i = 0
file_name = source_path 
sheet_name = sheets_list[i] 
header = enterp_headers_list[i] 

df = pd.read_excel(source_path, sheet_name=sheet_name, header=header)

display(df)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,LOCAL SETE - JANEIRO/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UNIDADE ESCOLAR,OTIMO,BOM,REG.,RUIM,EQUIV. 1,EQUIV. 2,EQUIV. 3,EQUIV. 4,TOT. 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E.E. ANTONIO CARLOS DA TRINDADE,49,11,4,0,100,80,50,30,4900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E.E. DR. AURELIANO LEITE,40,17,2,0,100,80,50,30,4000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,E.E. EDUCADOR PAULO FREIRE,36,25,0,0,100,80,50,30,3600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,E.E. FRANCISCO MATARAZZO SOBRINHO,8,28,0,0,100,80,50,30,800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,E.E. PROF. DR. LUIZ LUSTOSA DA SILVA,35,41,0,0,100,80,50,30,3500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,E.E. PROF. FRANCISCO CASABONA,41,27,NaN,NaN,100,80,50,30,4100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,EE. PROFª MARIA AUGUSTA SIQUEIRA,37,32,1,0,100,80,50,30,3700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,E.E. PROFª FRANCISCA LISBOA PERALTA,32,27,NaN,NaN,100,80,50,30,3200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,EE. PROFº JOSÉ MARIA RODRIGUES LEITE,85,0,0,0,100,80,50,30,8500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,TOTAL,363,208,7,0,100,80,50,30,36300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN